{
  "profiles": {
    "<ProjectName>": {
      "commandName": "Project",
      "environmentVariables": {

        "FOUNDRY_LOCAL_ENDPOINT": "http://localhost:5272",
        "FOUNDRY_LOCAL_SLM_MODEL": "phi-4-mini-instruct",
        "FOUNDRY_LOCAL_LLM_MODEL": "phi-4"

      }
    }
  }
}
